$navbar-default-bg: #EBE9E9;

$navbar-new-bg: #000066;


@import "bootstrap-sprockets";
@import "bootstrap";


.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}


#logo{ /*navbar*/
	float: left;
	font-size: 1.7em;
	font-weight: bold;
}

#logo:hover { /* color - click on the word*/
	color: #ff3399;
	text-decoration: none;
}


#container /* space betwen each section */
{
	background-color: lightgrey;
    width: 380px;
    border: 10px solid green;
    padding: 25px;
    margin: 25px;
    float: left;

}

.jumbotron {
	background_size: cover;
	height: 20px;
	
}

/*.one 
{
  float:left;
  word-break: break-all;
  width: 10%;
}

.two .section
{
  float:left;
  word-break: break-all;
  width: 10%;
}

.three .section
{
  float:left;
  word-break: break-all;
  width: 10%;
}

#footer
{
	background: #a2a6a4;
	width:100%;
	overflow:hidden;
}

#footer a
{
	color: white;
}

#footer a:hover
{
	color: yellow;
	text-decoration:underline;
}
*/

.article-actions {
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}

.description {
	margin-top: 0;
	
}
// index.html.erb
.homecont {
	margin: 5;
	border: black 2px solid;
	margin: 10px;
	padding: 3px;
	box-sizing: border-box;
	width: 300px;
	height: 290px;    
}

.homecont-list {
	list-style: none;
	padding: 0;
	display: inline-block;
	
}

.homecont2 {
	margin: 5;
	border: black 2px solid;
	margin: 10px;
	padding: 3px;
	box-sizing: border-box;
	width: 300px;
	height: 310px; 
	list-style: none;
	padding: 3px;
	display: inline-block;
}

.outside-company {
	text-align: center;
	
}

.new-company-button {
	padding: 0 0 0 5%;
	
}
.product-details {
	padding: 0 41%;
	
}

.one {
	font-family: Palatino Linotypes;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	
}


.two {
	text-align: center;
}

.three {
	
	text-align: center;
	
}

.buybtn {
	border-top: 1px solid #eaeaea;
	padding-top: 10px;
	text-align: center;
}

.container
{
	background: #a2a6a4;
	width: 100%;
	overflow: hidden;
}

#footer a
{
	color: black;
}

#footer a:hover
{
	color: yellow;
	text-decoration:underline;
}

#footer .section /* space betwen each section */
{
	width: 275px;
	float: left;
	margin: 30px;
}

#footer .section h5
{
	font-family: arial;
	color: black;
	font-size: 14px;
	/*border-bottom: 1px solid black;*/
	padding-bottom: 10px;
	margin-bottom: 10px;
}



#footer .section ul 
{
	list-style-type:none;
	margin:0;
	padding: 0px;
}

#footer .section ul li
{
	width: 200px;
	padding:10px 0;
	
}

#contact ul li
{
	display: inline;
	height: 50px;
	
}

#contact ul li img
{
	display: inline;
	width: 40px;
	height: 40px;
	
}


#bottomM ul li 
{
	float: left;
	font-size:13px;
	padding: 0%;
	display: inline;
}

#bottomM  img
{
	float: right;

}


#wrapper2 

{
	margin: 0 auto;
	max-width: 1020%;
	width: 100%;
	
}	

#Bcopy
{
	width: 100%;
	height: auto;
	background: #f2f2f2;
	overflow: hidden;
}


/* Item Index */

.img {
  float: left;
}

.title{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 16px;
}

.description{
	margin-bottom: 16px;
	
}

.price {
	color: maroon;
	font-weight: 800;
	font-size: 14px;
	text-align: right;
}

.buybtn .btn-default{
	margin: -15px;
	size: 12px;
	
}


/* -------------------- New product ------------------- */

.field{
	text-align: center;
}

.actions{
	text-align: center;
}




/* -------------------- Cart ------------------- */
.cart { /* size of the table*/
	width: 95%;
	border-collapse:collapse;
	margin-left: 15px;

}


.cart table, tr {
	border:1px solid #d7dbe2;

	
}


.cart img {
	border: 0px;
}
	
.legend {
	background-color: #dce2ed;
	text-align: center;
	
}


.cartButton {
	background-color: seagreen;
	padding: 5px;
	border: 2px red solid;
	border-radius:15px;
 	-moz-border-radius:15px; /* Old Firefox */
}

#cartLinks a:hover {
	text-decoration: none;
	color: azure;
}

#cartLinks a:link {
	text-decoration: none;
	color: azure;
}

#cartLinks a:active {
	text-decoration: none;
	color: azure;
}

#cartLinks a:visited {
	text-decoration: none;
	color: azure;
}


#cartLinks {
	margin-left: 15px;
}

.removeButton {
	background-color: seagreen;
	padding: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 10px;
	border: 2px red solid;
	border-radius:15px;
 	-moz-border-radius:15px; /* Old Firefox */
}


.removeLink a:hover {
	text-decoration: none;
	color: azure;
}

.removeLink a:link {
	text-decoration: none;
	color: azure;
}

.removeLink a:active {
	text-decoration: none;
	color: azure;
}

.removeLink a:visited {
	text-decoration: none;
	color: azure;
}


.name {
	text-align: center;
}

.quantity, .pricec, .priceeee {
	text-align: center;
}

.pricet{
	text-align: center;
	color: maroon;
	font-weight: 800;
	font-size: 14px;
}

.main{
	font-family: Palatino Linotype;
}



/* -------------------- PROFILEL table-hovert ------------------- */
.table-hovert {
	width: 95%;
	border-collapse:collapse;
	margin-left: 30px;
	border:1px solid black;


}

.table-hovert {
	border:1px solid black;
}

	


/* -------------------- END PROFILELIST ------------------- */


/* Mobile */

@media handheld, only screen and (max-width: 767px) {

	body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
	}
	
	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.row .fourcol {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}


@media only screen and (max-width: 1023px) {

	body {
	font-size: 0.8em;
	line-height: 1.5em;
	}
	
	}
}
