<div class="container">
	
	
			<div id="footer">
				<div class="section">
					<h5>Customer Service</h5>
					<ul>
						<li><%= link_to "About", about_path %></li>
						<li><a href="#">Contac us </a></li>
						<li><a href="#">Mobile site </a></li>
					</ul>
				</div>
				<div class="section">
					<h5>Company Information </h5>
					<ul>
						<li><a href="#">About us</a></li>
						<li><a href="#">Our Story</a></li>
						<li><a href="#">Careers</a></li>
					</ul>
				</div>
					
				<div class="section">
						<h5>Contact us</h5>
				<div id="contact">
							<ul>
								<li><a href="https://www.facebook.com/"><img src="images/fb.png"/></li>
								<li><a href="https://twitter.com/login"><img src="imag/twitter.png"/></li>
								<li><a href="https://www.instagram.com/?hl=en"><img src="imag/inst.png"/></li>
							</ul>
						</div>
				</div>

			</div>
</div>

<div id="bottomM">
						<ul>
							<li><a href="cookie.html">Cookie policy |</a></li>
							<li><a href="terms.html">Terms and Conditions |</a></li>
							<li><a href="privacy.html">Privacy policy  </a></li>
						</ul>						
							<img src="imag/visa.png"/>
							<img src="imag/maestro.png"/>
							<img src="imag/paypa.png"/>
				</div>
				
		<div id="wrapper2">
				<div id="Bcopy">
					<p style="text-align: center; padding: 0px"; >&#169; Copyright - Sale Search, 2017 by DC. </p>					</div>
				</div>
		</div>