<ul class="nav nav-pills">
  <li role="presentation" class="active"> <%= link_to 'Home', companies_path %></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>